/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/.buildpath
/.project
.sass-cache
/nbproject/private/
web/js/*
web/css/*
.DS_Store