{# src/FUT/ARManagerBundle/Resources/views/index.html.twig #}

{% extends '::layout.html.twig' %}

{% block table %}
	<table class="table table-striped">{% block liste %}{% endblock %}</table>
{% endblock %}